body{
    width: 80%;
    margin: 0px auto;
}
body form {
    font-size: 18px;
    font-weight: 700;
}
body form input{
    width: 100%;
    height: 30px;
    border-radius: 10px;
}
table {
    margin-top: 50px;
    border-collapse: collapse;
    width: 100%;
}
table tr {
    border-bottom: 3px solid #ccc;
}